<html>
	<head>
			<meta charset="UTF-8"/>
			<title>Novo Contato</title>
	</head>
	<body>
		        
        <h3>Adicione um novo contato:</h3>
        <form method="POST">
              <label for="nome">Nome:</label> 
			  <input type="text" name="nome" size="50"></input><br />  
			  
              <label for="telefone">Telefone:</label> 
			  <input type="tel" name="telefone"> </input><br /> 
			  
              <label for="email">Email:</label> 
			  <input type="email" name="email"> </input><br />
			  
              <label for="favorito">Favorito:</label>
			  <input type="checkbox" name="favorito" ></input><br/>
			  
			  <label for="cep">Cep:</label>
			  <input type="text" name="cep" ></input><br/>
			  
			  <input type="submit" value="Salvar"></input>
        </form>
	</body>
</html>